@charset "UTF-8";


html{

    font-weight: bold;
    color: #5d627b;
}
h1 {
    font-size: 20px;
    color: white;
    background: linear-gradient(to right, #52c2cf, #ffd83a);
    border-radius: 1em;
    padding: 10px;

    margin: 3px;

}
.E{ display: none;
    background: none;
    height: auto;
    width: auto;
    margin-right: 430px;
    margin-left: 400px;
    font-size:medium;
    font-size: 20px;


}
.a{overflow-y: scroll;
    border: 2px solid #000000 ; /* 太さ2px、実践、黒色*/

    width: 700px ; /* 幅200px*/
    height:360px ; /* 高さ30px */
    margin:auto;
    background:none;


  padding: 1em;
  border: 8px solid #96cbcb;
  box-shadow: 2px 2px 4px #a2d0ff, 2px 2px 2px #96cbcb inset;
  border-radius: 24px;
  word-wrap:break-word;


}
.b{text-align: center ; /* 中央寄せ */
	margin-top:40px;

}
.c{text-align: center ; /* 中央寄せ */
	margin:auto;

}

input[type="text"]{
    outline:none;

}
.btn {
    background: linear-gradient(to bottom, #52639C, #35416B);
    color: #FFFFFF;
    border: none;
    text-shadow: none;
    border-radius: 0.25em;
    height: 35px;
    width: auto;
}
.btn:hover {
    background: linear-gradient(to bottom, #52C2CF, #369CA0);
}
.btn:active {
    transform: translateY(2px);
}
input[type="textarea"]{
	width:500px;
	 border-radius: 0.25em;
    height: 35px;
    color: #35416b;
    font-weight: bold;


}

.message{
  text-align:left;
  margin:auto;
  padding: 15px;
  border-radius: 12px;
  background: #edf1ee;
  font-weight: bold;

}

.ctitle{
	margin-bottom:20px;

}

.btn img{
	width:30px;
	height:30px;
	border-radius: 10px;



}

#btn{
	background:none;
}

.minifont{
    font-size: small;
    display:inline;
}

.ore{
    color: #70d080;
}




/* 共通部分ヘッダー(ロゴのみ) */
.header {
    /*background-color: #4472c4;*/
    background: linear-gradient(-225deg, rgba(27, 77, 184, 0.7) 0%, rgba(70, 236, 254, 0.7) 100%), url(../image/texture.jpg);
    text-align: center;
}

/* 検索部分 */
.search {
    display: inline-block;
    float: right;

}
.article_search {
    transition: 0.2s;
    display: inline;
    background-color: #e1e8eb;
    border-radius: 0.5em;
    color: #4472c4;
}
.article_search:active {
    transform: translateY(2px);
}
.community_search {
    transition: 0.2s;
    display: inline;
    background-color: #e1e8eb;
    border-radius: 0.5em;
    color: #4472c4;
}
.community_search_active {
    transform: translateY(2px);
}
/* おすすめ記事・コミュニティタブ選択 */
.header_bottom {
    background-color:  #77cbff;
}
.header_bottom  h1{
    font-size: 20px;
    display: inline-block;
    color: rgb(205, 234, 255);
}
.header_bottom h1:hover {
    color: white;
}
.tab_article {
    margin: 0 100px;
}
.tab_community {
    margin: 0 100px;
}


/* 共通部分フッター */
.footer_all {
    /*background-color: #4472c4;*/
    background: linear-gradient(-225deg, rgba(27, 77, 184, 0.7) 0%, rgba(70, 236, 254, 0.7) 100%), url(../image/texture.jpg);
}
.footer {
    color: white;
    display: flex;
}

.footer_contents{
    margin: 0 20px 0 650px;
    width: 50%;
    display: inline;
    font-size: 15px;
}
.footer_contents li{
    font-size: 13px;
}
.footer_bottom p{
    color: white;
    text-align: center;
    font-size: 10px;
}

/* とりあえずプレビュー（後で移動） */
body {
    background-color: #e1e8eb;
}