@charset "UTF-8";

/* 6/22 17:15 update by yahaba */

/* メインコンテンツすべてに適用 */
.create_main {
    color: #35416b;
    font-weight: bold;
}
.create_main h4{
    font-size: 20px;
    color: white;
    background: linear-gradient(to right, #52c2cf, #ffd83a);
    border-radius: 1em;
    padding: 10px;
    display: flex;
    margin: 3px;
}

/* インプット｜ボタン */
.btn {
    background: linear-gradient(to bottom, #52639c, #35416b);
    color: #ffffff;
    border: none;
    text-shadow: none;
    border-radius: 0.25em;
    height: 35px;
    width: 250px;
}
.btn:hover {
    background: linear-gradient(to bottom, #52c2cf, #369ca0);
}
.btn:active {
    transform: translateY(2px);
}
.btn_wrap {
    text-align: center;
}
.no {
    background: linear-gradient(to bottom, #8a8383, #535050);
}

/* インプット｜テキストボックス */
.textform {
    width: 30em;
    height: 30px;
    font-size: 15px;
    border-radius: 0.5em;
    border: 1px solid #cccccc;
    color:#35416b;
    margin: 0 0 0 20px;
}
.textbox {
    width: 100%;
    height: 5em;
    font-size: 15px;
    border-radius: 0.5em;
    border: 1px solid #cccccc;
    color:#35416b;
    margin: 0 0 0 20px;
}

/* インプット｜プルダウン */
.select {
    width: 300px;
    height: 30px;
    font-size: 15px;
    border-radius: 0.5em;
    border: 1px solid #cccccc;
    color:#35416b;
    margin: 0 0 0 20px;
}

/* communitycreate・sign_upに適用 */
.contentA, .contentB {
    width: 50%;
    height: auto;
}
.contentA, .contentC {
    float: left;
}
.contentB {
    float: right;
}
.contentC {
    width: 100%;
   
}
.contentD {
    width: 100%;
}

/* editのみに適用 */
.edit_contents {
    display: block;
    text-align: center;
    margin: 20px auto;
}
.edit_txt {
    width: 90%;
    height: 300px;
    font-size: 16px;
    border-radius: 0.5em;
    border: 1px solid #cccccc;
    color:#35416b;
}

/* sign_upのみに適用 */
.D_title {
    display:inline-block;
   
}
.userInf {
    margin: 10px 0 10px 20px; 
}
.alertMsg {
    color: #f33333;
}
.sign_btn {
    background: linear-gradient(to bottom, #52639c, #35416b);
    color: #ffffff;
    border: none;
    text-shadow: none;
    border-radius: 0.25em;
    height: 35px;
    width: 150px;
    display: inline-block;
    text-align: center;
}
.sign_btn:hover {
    background: linear-gradient(to bottom, #52c2cf, #369ca0);
}
.sign_btn:active {
    transform: translateY(2px);
}
.sign_btn_wrap {
    text-align: center;
}
.sign_no {
    background: linear-gradient(to bottom, #8a8383, #535050);
}
