@charset "UTF-8";

/* 6/22 17:40 update by yahaba */

/* 背景色 */
body {
    background-color: #e1e8eb;
}

/* メインコンテンツすべてに適用 */
.result_main h4 {
    font-size: 20px;
    color: white;
    background: linear-gradient(to right, #52c2cf, #ffd83a);
    border-radius: 1em;
    padding: 10px;
    display: flex;
    margin: 3px;
}
.result_img {
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.result_q {
    text-align: center;
    color:#369ca0;
    font-size: 20px;
    font-weight: 600;
}

/* インプット｜ボタン */
.btn {
    background: linear-gradient(to bottom, #52639c, #35416b);
    color: #ffffff;
    border: none;
    text-shadow: none;
    border-radius: 0.25em;
    height: 35px;
    width: 150px;
    margin: 10px;
}
.btn:hover {
    background: linear-gradient(to bottom, #52c2cf, #369ca0);
}
.btn:active {
    transform: translateY(2px);
}
.btn_wrap {
    display: flex;
    justify-content: center;
}
.no {
    background: linear-gradient(to bottom, #8a8383, #535050);
}
