@charset "UTF-8";
@charset "UTF-8";

/* メインコンテンツすべてに適用 */

h1 {
    font-size: 20px;
    color: white;
    background: linear-gradient(to right, #52c2cf, #ffd83a);
    border-radius: 1em;
    padding: 10px;
    display: flex;
    margin: 3px;


}

h2{
    font-size: 20px;
    color: white;
    background: linear-gradient(to right, #52c2cf, #ffd83a);
    border-radius: 1em;
    padding: 10px;
    display: flex;
    margin: 3px;
    display:inline-block;
}

.search_main p {
    display: inline;
    width:25%;
}
.search_main {
    margin: 10px;
}
.search_contents{
    background-color: white;
    border-radius: 2em;

    color: #3d9d8f;
    width: 450px;
    margin: 20 auto;
    padding: 10px 0;
}

/* インプット｜ボタン */
.btn {
    background: linear-gradient(to bottom, #52639c, #35416b);
    color: #ffffff;
    border: none;
    text-shadow: none;
    border-radius: 0.25em;
    height: 35px;
    width: 150px;
}
.btn:hover {
    background: linear-gradient(to bottom, #52c2cf, #369ca0);
}
.btn:active {
    transform: translateY(2px);
}
.btn_wrap {
    text-align: center;
}

footer{
margin-top:150px;
}


.cp_card01 {
	font-size: 14px;
    font-weight: bold;
	line-height: 1.45em;
    width:700px;

	position: relative;
	overflow: hidden;

	-webkit-transition: height 0.3s ease;
	        transition: height 0.3s ease;
	border-radius: 20px;
	background: #ffffffbc;
	-webkit-box-shadow: 0 3px 7px -3px #52c2cf;
	        box-shadow: 0 3px 7px -3px #52c2cf;
            word-wrap:break-word;
}
.cp_card01::after {
	font-family: FontAwesome;
	content: '\f1b0';
	position: absolute;
	bottom: 60px;
	right: -20px;
	color:white;
	font-size: 180px;
	transform: rotate(-26deg);
	z-index: 0;
}
.cp_card01:hover .details {
	left: 0;
}
.cp_card01 .photo {
	position: relative;
	height: 200px;
	overflow: hidden;
    color:aqua;
}
.cp_card01:hover .photo1 {
	-webkit-transform: rotate(5deg) scale(1.3);
	        transform: rotate(5deg) scale(1.3);
}
.cp_card01 .photo .photo1 {
	height: 100%;
	background: url(../image/imageblue.png) center no-repeat;
	background-size: cover;
	-webkit-transition: all 0.5s ease;
	        transition: all 0.5s ease;
}
.cp_card01 .details {
	font-family: 'Open Sans';
	position: absolute;
	top: 0;
	left: -100%;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	height: 200px;
	margin: 0;
	padding: 10px 15px;
	list-style: none;
	-webkit-transition: all 0.3s ease;
	        transition: all 0.3s ease;
	color: #bce4eb;
	background: rgba(40,53,147, 0.6);
    font-weight: bold;
}
.cp_card01 .details > li {
	padding: 3px 0;
}
.cp_card01 .details li::before,
.cp_card01 .details .tags ul::before {
	font-family: FontAwesome;
	margin-right: 10px;
	vertical-align: middle;
}
.cp_card01 .details .author::before {
	content: '\f007';
}
.cp_card01 .details .date::before {
	content: '\f133';
}
.cp_card01 .details .tags ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.cp_card01 .details .tags ul::before {
	content: '\f02b';
}
.cp_card01 .details .tags li {
	display: inline-block;
	margin-right: 3px;
}
.cp_card01 .details a {
	color: inherit;
}
.cp_card01 .details a:hover {
	color: #283593;
}
.cp_card01 .description {
	position: relative;
	padding: 10px;
	z-index: 1;
}
.cp_card01 .description h1 {
	font-size: 1.4em;
	line-height: 1em;
	margin: 0 0 10px 0;
}
.cp_card01 .description h2 {
	font-size: 1em;
	line-height: 1.2em;
	margin: 1.2% 0;
	color: #9b9b9b;
}
.cp_card01 .description p {
	position: relative;
	margin: 0;
	padding-top: 20px;

    width: 10px; /* 省略せずに表示するサイズを指定 */
    white-space: nowrap;
    overflow: hidden;

}

.cp_card01 .description p::after {
	position: absolute;
	top: auto;
	left: 0;
	width: 20%;
	height: 6px;
	content: '';
	;
}
.cp_card01 .description a {
	float: right;
	margin-bottom: auto;
	color: #283593;
	text-decoration: none;
}
.cp_card01 .description a::after {
	font-family: FontAwesome;
	margin-left: -10px;
	content: '\f061';
	-webkit-transition: all 0.3s ease;
	        transition: all 0.3s ease;
	vertical-align: middle;
	opacity: 0;
}
.cp_card01 .description a:hover::after {
	margin-left: 5px;
	opacity: 1;}

p.text{
    -webkit-box-flex: 2;
    -ms-flex: 2;
        flex: 2;
        word-wrap:break-word;
}

.footer_bottom{
    text-align:center;
}
.worddisplay{
    word-break: break-word;
}

input[type="submit"]{
    background: linear-gradient(to bottom, #52639C, #35416B);
    color: #FFFFFF;
    border: none;
    text-shadow: none;
    border-radius: 0.25em;
    height: 35px;
    width: 80px;
    position: relative;
    right:-300px;
}

input[type="submit"]:hover{
    background: linear-gradient(to bottom, #52C2CF, #369CA0);
}